@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h5, h6 {
  font-family: 'Roboto', Serif;
  font-weight: bold;
}

h1 { font-size: 3.0em; margin-bottom: 0px;}
h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }

h4 { /*will use this as subheading*/
  margin: 2px 20px;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.2em;
}

body {
  font-family: 'Space Mono', Serif;
  font-size: 1.1em;
}

.main {
  width: 80%;
  margin: 0px auto;
}
