.comments-outer
{
    padding: 0px 10px;
    position: relative;
}

.comments {
    color: #404040;
    margin: 50px auto;
    width: 80%;
}

.comments h2{
    font-family: 'Roboto';
    text-align: center;
    font-size: 2em;
    margin: 0px;
    text-decoration: 2px underline dashed;
    text-underline-offset: 10px;
}

#comment-table {
    width: 100%;
    table-layout: fixed;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    background: #b8b4b2;
    margin: 10px auto 20px auto;
    color: #404040;
}

#comment-table td{ text-align: left; width: 75%;}
#comment-table td:nth-child(1) { text-align: right; width: 25%; }
#comment-table label{ padding-right: 10px; }
#comment-table input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#comment-table input[type=submit] {
    background-color: #4e6679;
    color: white;
    font-family: 'Roboto';
    text-transform: lowercase;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#comment-table input[type=submit]:hover {
    background-color: #5c486a;
}

#comment-table textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
}

.comment {
    border-top: 1px dashed #404040;
    padding: 10px;
    position: relative;
    height: 100%;
    min-height: 100px;
}

.comment-left {
    width: 40%;
    display: inline-block;
    height: 100%;
}

.comment-right {
    width: 60%;
    display: inline-block;
    height: 100%;
}

.comment-sub {
    padding: 10px;
    position: relative;
    height: 100%;
    min-height: 100px;
}

.comment-author {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.3em;
    display: block;
    position: absolute;
    top: 10px;
}

.comment-sub-author {
    font-size: 1em;
    margin-left: 20px;
}

.comment-date {
    display: block;
    position: absolute;
    top: calc(1.3em + 15px);
}

.comment-content {
    border-radius: 10px;
    background: rgb(78,102,121,.3);
    padding: 10px;
    display: block;
    top: 10px;
    right: 0px;
    min-height: 80px;
}

.reply-color {
    background: rgb(101,141,120,.3);
}
.comment-reply {
   margin: 10px;
   display: block;
   text-align: right;
}

.comment-reply a{
    color: #464969;
    text-decoration: none;
}

.comment-reply a:visited {
    color: #464969;
}

.comment-reply a:hover {
    color: #72b6cf;
}

.user-message {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background: rgb(128,64,133,.3);
    display: block;
    margin-top: 10px;
}

.new-comment div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media screen and (max-width: 799px) {
  .comments-outer { margin: 0; }
  .comments { width: 100%; }
  .comment { margin-top: 10px; }
  .comment-content { position: relative;  width: 98%; }
  .comment-sub-author { margin-left: 0px; }
}
